::-webkit-scrollbar {
    display: none;
}
i{
    border-radius: 0.25rem;
}
.img-champ {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.img-35 {
    width: 35px !important;
    height: 35px !important;
}

.img-25 {
    width: 25px !important;
    height: 25px !important;
}
.champion {
    border: 1px solid rgb(129, 124, 124);
    transition-duration: 0.6s;
    &:hover {
        transition-duration: 0.4s;
        border: 1px solid green;
        background-color: rgb(157, 219, 214);
        color: whitesmoke;
    }
}

.dot-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clearable {
    pointer-events: auto;
    text-decoration: none;
    cursor: pointer;
}
.enabled-rune{
    filter: opacity(0.35);
    mix-blend-mode: luminosity;
    background-color: red;
    border-radius: 1rem;
}
.checked-rune{
    filter: drop-shadow(1px 4px 6px gray);
    background-color: #8f8f8f69;
    border-radius: 15px;
}
.disabled-rune i{
   filter: opacity(0.35);
    mix-blend-mode: luminosity;
}

.skill{
    position: relative;
    label{
        position: absolute;
        bottom: 0px;
        right: 0px;
        background:  rgb(18, 19, 19);
        border-radius: 200px 50px 0px 50px;
        padding-left: 2px;
        margin: 0;
        font-size: 0.8rem;
        color: white;
    }
}
.most-picked{
    label{
        font-size: 60%;
        padding-left: 2px;
        color: white;
        margin-top: 15px;
        margin-left: 20px;
        background-color: black;
    }
}
.item-display{
    i:nth-child(even){
        display: none;
    }
}
.spell-display{
    div:nth-child(3){
        border-left: 1px solid gray;
    }
}
.sticky-list{
    position: fixed;
    top: 25%;
    align-self: flex-start;
    label{
        border-radius: 5px;
    }
    i{
        transition: 0.3s;
        &:hover{
            box-shadow: 0px 2px 17px 4px rgba(196,194,196,1);
            transition: 0.2s;
        }
        &:active{
            filter: contrast(0.5);
        }
    }
    
}
#recent-pick-div{
    & > label{
        width: 8rem;
        margin-left: -1.7rem;
    }
    .content{
        margin-right: 100px !important;
        padding: 0 !important;
        transition: 0.5s;
        background-color: #ffc10770;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        i,label{
            transition: 0.5s;
        }
    }
}
#most-pick-div{
    & > label{
        width: 8rem;
    }
    .content{
        margin-left: 100px !important;
        padding: 0 !important;
        transition: 0.5s;
        background-color: #17a2b863;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        i,label{
            transition: 0.5s;
            margin-left: -20px;
        }
    }
}