::-webkit-scrollbar {
    display: none;
}
i{
    border-radius: 0.25rem;
}

@media only screen and (max-width: 420px) {
    .img-champ {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}

.img-champ {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.img-35 {
    width: 35px !important;
    height: 35px !important;
}

.img-25 {
    width: 25px !important;
    height: 25px !important;
}
.champion {
    border: 1px solid rgba(129, 124, 124, 0.459);
    border-radius: 0.2rem;
    transition: 0.5s;
    &:hover {
        // border: 1px solid rgba(5, 255, 109, 0);
        background-color: rgb(157, 219, 214);
        color: currentColor;
    }
}

.dot-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clearable {
    pointer-events: auto;
    text-decoration: none;
    cursor: pointer;
}
.enabled-rune{
    filter: opacity(0.35);
    mix-blend-mode: luminosity;
    background-color: red;
    border-radius: 1rem;
}
.checked-rune{
    filter: drop-shadow(1px 4px 6px gray);
    background-color: #8f8f8f69;
    border-radius: 15px;
}
.disabled-rune i{
   filter: opacity(0.35);
    mix-blend-mode: luminosity;
}

.skill{
    position: relative;
    label{
        position: absolute;
        bottom: 0px;
        right: 0px;
        background:  rgb(18, 19, 19);
        border-radius: 200px 50px 0px 50px;
        padding-left: 2px;
        margin: 0;
        font-size: 0.8rem;
        color: white;
    }
}
.most-picked{
    label{
        font-size: 60%;
        padding-left: 2px;
        color: white;
        margin-top: 15px;
        margin-left: 20px;
        background-color: black;
    }
}
.item-display{
    i{
        transition: 1s;
    }
}
.spell-display{
    div:nth-child(3){
        border-left: 1px solid gray;
    }
}
.sticky-list{
    position: fixed;
    top: 30%;
    align-self: flex-start;
    label{
        border-radius: 5px;
    }
    i{
        transition: 0.3s;
        &:hover{
            box-shadow: 0px 2px 17px 4px rgb(160, 158, 160);
            transition: 0.2s;
            filter: opacity(0.6)
        }
        &:active{
            filter: grayscale(0.5);
        }
    }
    
}
#recent-pick-div{
    padding: 0 !important;
    .content{
        width: 0;
        padding: 0.5rem 1.4rem 0.5rem 1rem !important;
        transition: 0.5s;
        background-color: #ffc10770;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        i,label{
            transition: 0.5s;
        }
        div{
            padding-bottom: 0 !important;
        }
    }
}
#most-pick-div{
    padding: 0 !important;
    .content{
        width: 20px;
        padding: 0.5rem 1.29rem 10px 1rem !important;
        align-self: flex-end;
        margin-left: 0;
        transition: 0.5s;
        background-color: #17a2b863;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        i,label{
            transition: 0.5s;
            margin-left: -25px;
        }
    }
}
.searchbar{
    transition: 0.5s;
    background-color: #3f404410;
    border-radius: 3rem;
    padding: 0.5rem;
    .search_input{
    color: rgb(51, 50, 50);
    border: 0;
    outline: 0;
    background: none;
    width: 200px;
    }
    .search_icon{
    background: white;
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#e74c3c;
    text-decoration:none;
    &:hover{
        transition: 0.5s;
        background: rgb(226, 178, 178);
    }
    &:active{
        transition: 0.1s;
        background: rgb(138, 109, 109);
    }
    }
}
