
:root {
    --main-bg-color: #1c2835;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--main-bg-color);
  }
  
#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
        color: #42b983;
        }
    }
}
body {
    background-image: url(../assets/Summoners_Rift.webp);
    background-size: cover;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    display: none;
}
i{
    border-radius: 0.25rem;
}

@media only screen and (max-width: 420px) {
    .img-champ {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    #recent-pick-div {
        .content {
            .custom-padding{
                i{
                    margin-left: 0.25rem;
                }
            }
        }
    }
    .list-champ{
        width: 32px !important;
        height: 32px !important;
        border-radius: 4rem !important;
    }
}
.list-champ{
    width: 35px !important;
    height: 35px !important;
    border-radius: 4rem !important;
}
.img-champ {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.img-35 {
    width: 35px !important;
    height: 35px !important;
}

.img-25 {
    width: 25px !important;
    height: 25px !important;
}
.champion {
    border: 1px solid rgba(129, 124, 124, 0.459);
    border-radius: 0.2rem;
    transition: 0.5s;
    background-color: #ffffff73;
    &:hover {
        // border: 1px solid rgba(5, 255, 109, 0);
        background-color: rgb(157, 219, 214);
        color: currentColor;
    }
}

.dot-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clearable {
    pointer-events: auto;
    text-decoration: none;
    cursor: pointer;
}
.enabled-rune{
    filter: opacity(0.35);
    mix-blend-mode: luminosity;
    background-color: #665959d6;
    border-radius: 1rem;
}
.checked-rune{
    filter: drop-shadow(1px 4px 6px gray);
    background-color: #8f8f8f69;
    border-radius: 15px;
}
.disabled-rune i{
   filter: opacity(0.35);
    mix-blend-mode: luminosity;
}

.skill{
    margin-right: 1rem;
    position: relative;
    label{
        position: absolute;
        bottom: 0px;
        right: 0px;
        background:  rgb(18, 19, 19);
        border-radius: 200px 50px 0px 50px;
        padding-left: 2px;
        margin: 0;
        font-size: 0.8rem;
        color: white;
    }
}
.most-picked{
    // padding-bottom: 0.1rem;
    &, &:hover{
        b, label{
            font-size: 0.6rem !important;
            color: white !important;
            bottom: 0 !important;
            left: 0 !important;
            padding: 0 0.2rem 0 0.2rem !important;
            background-color: black !important;
            font-weight: bold !important;
        }
    }
}
.item-display{
    i{
        transition: 1s;
    }
}
.spell-display{
    div:nth-child(3){
        border-left: 1px solid gray;
    }
}
.sticky-list{
    position: fixed;
    top: 65%;
    align-self: flex-start;
    label{
        border-radius: 5px;
    }
    i{
        transition: 0.3s;
        &:hover{
            box-shadow: 0px 2px 17px 4px rgb(160, 158, 160);
            transition: 0.2s;
            filter: opacity(0.6)
        }
        &:active{
            filter: grayscale(0.5);
        }
    }
    
}
#recent-pick-div{
    padding: 0 !important;
    .content{
        width: 0;
        padding: 0.5rem 1.29rem 0.5rem 1rem !important;
        transition: 0.5s;
        background-color: #ffc107c5;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        i,label{
            transition: 0.5s;
        }
        .custom-padding{
            padding-left: 0rem !important
        }
    }
}
#most-pick-div{
    padding: 0 !important;
    .content{
        width: 20px;
        padding: 0.5rem 1.29rem 10px 1rem !important;
        align-self: flex-end;
        margin-left: 0;
        transition: 0.5s;
        background-color: #17a3b8a8;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        i,label{
            transition: 0.5s;
            margin-left: -25px;
        }
    }
}
.searchbar{
    transition: 0.5s;
    background-color: #3f404477;
    border-radius: 3rem;
    padding: 0.5rem;
    .search_input{
        color: rgb(0, 0, 0);
        border: 0;
        outline: 0;
        background: none;
        width: 200px;
    }
    .search_icon{
    background: rgba(255, 255, 255, 0.623);
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#e74c3c;
    text-decoration:none;
    &:hover{
        transition: 0.5s;
        background: rgb(226, 178, 178);
    }
    &:active{
        transition: 0.1s;
        background: rgb(138, 109, 109);
    }
    }
}
